<a href="https://colab.research.google.com/github/meliskarayigit/leetcode-solutions/blob/main/Rule_Based_Classification_with_Potential_Customer_Yield_Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
import os

# Specify the path to your CSV file in Google Drive
# Make sure to replace 'your_file_name.csv' with the actual name of your file
file_name = 'persona.csv'
file_path = os.path.join('/content/drive/MyDrive/miuul/Python Programming for Data Science', file_name)

try:
    # Load the CSV file into a pandas DataFrame
    df = pd.read_csv(file_path)

    # Display the first 5 rows of the DataFrame
    print(f"Successfully loaded '{file_name}'. Here are the first 5 rows:")
    display(df.head())
except FileNotFoundError:
    print(f"Error: The file '{file_name}' was not found at '{file_path}'. Please check the file name and path.")
except Exception as e:
    print(f"An error occurred: {e}")

Successfully loaded 'persona.csv'. Here are the first 5 rows:

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [18]:
df['SOURCE'].value_counts()

SOURCE
android    2974
ios        2026
Name: count, dtype: int64

In [21]:
df['PRICE'].nunique()

6

In [23]:
df['PRICE'].value_counts()

PRICE
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: count, dtype: int64

In [24]:
df['COUNTRY'].value_counts()

COUNTRY
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: count, dtype: int64

In [31]:
#Question 6: How much has been earned in total from sales by country?
#Question 7: What are the sales figures by SOURCE type?
#Question 8: What are the PRICE averages by country?
#Question 9: What are the PRICE averages by SOURCE?
#Question 10: What are the PRICE averages in the COUNTRY-SOURCE breakdown?
print(f' answer 6 {df.groupby("COUNTRY")['PRICE'].sum()}')
result = df.groupby("SOURCE").value_counts().reset_index(name="Count")
print("answer 7 ---------")
print(result)
result2= df.groupby("COUNTRY")['PRICE'].mean()
print("answer 8 ---------")
print(result2)

result3= df.groupby(["SOURCE", "COUNTRY"])["PRICE"].mean()
print("answer 10 ---------")
print(result3)
result4= df.groupby("SOURCE")["PRICE"].mean()
print("answer 9 ---------")
print(result4)

 answer 6 COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64
answer 7 ---------
       SOURCE  PRICE   SEX COUNTRY  AGE  Count
0     android     29  male     usa   15     29
1     android     39  male     usa   15     25
2     android     49  male     usa   15     25
3     android     19  male     usa   15     22
4     android     39  male     bra   19     20
...       ...    ...   ...     ...  ...    ...
1379      ios     59  male     usa   31      1
1380      ios     59  male     usa   32      1
1381      ios     59  male     usa   33      1
1382      ios     59  male     usa   50      1
1383      ios     59  male     usa   59      1

[1384 rows x 6 columns]
answer 8 ---------
COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64
answer 10 ---------
SOURCE   COUNTRY
android  bra        34.387029
         can        33.330709
         deu        33.869888
         fra        34.312500
         tur        36.229437
         usa        33.760357
ios      bra        34.222222
         can        33.951456
         deu        34.268817
         fra        32.776224
         tur        33.272727
         usa        34.371703
Name: PRICE, dtype: float64
answer 9 ---------
SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [41]:
# What are the average earnings broken down by COUNTRY, SOURCE, GENDER, and AGE?

earning= df.groupby(['COUNTRY', 'SOURCE', 'SEX','AGE'])['PRICE'].mean()
agg_df= earning.sort_values(ascending=False)
agg_df= agg_df.reset_index()
print(agg_df)

    COUNTRY   SOURCE     SEX  AGE  PRICE
0       usa  android    male   36   59.0
1       bra  android    male   46   59.0
2       fra  android  female   24   59.0
3       usa      ios    male   32   54.0
4       deu  android  female   36   49.0
..      ...      ...     ...  ...    ...
343     bra      ios    male   47   19.0
344     usa      ios  female   30   19.0
345     can  android  female   27   19.0
346     usa      ios  female   38   19.0
347     deu  android    male   26    9.0

[348 rows x 5 columns]

In [42]:
agg_df['age_cat']=pd.cut(agg_df['AGE'], (0,18,23,30,40,70))
agg_df

    COUNTRY   SOURCE     SEX  AGE  PRICE   age_cat
0       usa  android    male   36   59.0  (30, 40]
1       bra  android    male   46   59.0  (40, 70]
2       fra  android  female   24   59.0  (23, 30]
3       usa      ios    male   32   54.0  (30, 40]
4       deu  android  female   36   49.0  (30, 40]
..      ...      ...     ...  ...    ...       ...
343     bra      ios    male   47   19.0  (40, 70]
344     usa      ios  female   30   19.0  (23, 30]
345     can  android  female   27   19.0  (23, 30]
346     usa      ios  female   38   19.0  (30, 40]
347     deu  android    male   26    9.0  (23, 30]

[348 rows x 6 columns]

In [45]:
#level-based customers (personas)

cols_to_combine = ['COUNTRY', 'SOURCE', 'SEX', 'age_cat']
separator = '_'

agg_df['customers_level_based']= agg_df[cols_to_combine].astype(str).agg('_'.join,axis=1)
agg_df.head()
customers_level_based= agg_df.groupby('customers_level_based')['PRICE'].mean()
customers_level_based

customers_level_based
bra_android_female_(0, 18]     35.645303
bra_android_female_(18, 23]    34.077340
bra_android_female_(23, 30]    33.863946
bra_android_female_(30, 40]    34.898326
bra_android_female_(40, 70]    36.737179
                                 ...
usa_ios_male_(0, 18]           33.983495
usa_ios_male_(18, 23]          34.901872
usa_ios_male_(23, 30]          34.838143
usa_ios_male_(30, 40]          36.206324
usa_ios_male_(40, 70]          35.750000
Name: PRICE, Length: 109, dtype: float64

In [46]:
agg_df['SEGMENT']= pd.qcut(agg_df['PRICE'], 4,labels=['D','C','B','A'])
agg_list=['mean','max','min','sum']
agg_df.groupby('SEGMENT')['PRICE'].agg(agg_list)

/tmp/ipython-input-495629242.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg_df.groupby('SEGMENT')['PRICE'].agg(agg_list)

              mean        max        min          sum
SEGMENT
D        27.302596  31.105263   9.000000  2375.325850
C        32.933339  34.000000  31.173913  3128.667165
B        35.436170  37.000000  34.185185  2870.329792
A        41.434736  59.000000  37.095238  3521.952577

In [54]:
#Classify new customers and estimate how much revenue they can generate.

agg_df['age_cat'].unique()
agg_df['COUNTRY'].unique()
#What segment does a 33-year-old Turkish woman who uses Android belong to, and what average income is she expected to generate?
new_user= 'tur_android_female_(30, 40]'
agg_df[agg_df['customers_level_based']==new_user]

,COUNTRY,SOURCE,SEX,AGE,PRICE,age_cat,customers_level_based,SEGMENT
19,tur,android,female,32,43.000000,"(30, 40]","tur_android_female_(30, 40]",A
36,tur,android,female,31,40.666667,"(30, 40]","tur_android_female_(30, 40]",A